*{
    margin:0;
    padding:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{ 
    min-height:100vh;
    width: 100%;
    background-size: cover;
    position: relative;
    color: rgb(46, 62, 57);
}
nav {
display:flex;
padding:2% 6%;
justify-content: space-between;
align-items: center;
}
.nav-links{
    flex:1;
    text-align:right;
}
.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding:8px 12px;
    position :relative;
}
.nav-links ul li a{
color:rgb(124, 119, 116);
font-size: 13px;
}
.nav-links ul li::after{
    content:'';
    width:0% ;
    height: 2px;
    display: auto;
transition: 0.5s;
margin: auto;
}
.nav-links ul li:hover::after{
    width:100% ;
}
.text-box {
    width: 90%;
    position : absolute;
    top:55%;
    left:80%;
    right:80%;
    transform:translate(-80%,-80%);

}
.text-box h1 {
   font-size: 50px;
   display:inline-block;

}
.text-box p{
    margin: 10px 0 40px;
    font-size:14px;
    color:darkslategray
}
.hero-button{
display:inline-block;
text-decoration: none;
color:rgb(60, 54, 67);;
border:1px solid rgb(60, 54, 67);
padding: 12px 34px ;
font-size:13px;
background: transparent;
position: relative;
cursor:pointer;

}
.hero-button:hover{
    border:1px solid #f44336;
    background:#f44336;
    transition: 1s;
}


